[submodule "FederatedSidechains"]
	path = FederatedSidechains
	url = https://github.com/SolarisPlatform/FederatedSidechains
	
[submodule "AmsterdamCoinBitcoinFullNode"]
	path = AmsterdamCoinBitcoinFullNode
	url = https://github.com/AmsterdamCoin/AmsterdamCoinBitcoinFullNode
