<section id="GUI">
  <section id="content">
    <div class="container-fluid">
      <div class="row mb-2 mt-2" *ngIf="transactions">
        <div class="col-12">
          <div class="card_totop">
            <div class="card-body">
              <h2 class="title-bottom-border text-uppercase amsrood">Transaction History</h2>
              <div class="row row-header mr-1 ml-1">
                <div class="col row-header-column">Type</div>
                <div class="col row-header-column text-right">Amount</div>
                <div class="col row-header-column text-center">Date</div>
                <div class="col row-header-column text-right">Details</div>
              </div>
              <div class="row mr-1 ml-1">
                <div class="col-12" *ngFor="let transaction of transactions | paginate: { itemsPerPage: 10, currentPage: pageNumber }">
                  <div class="row rows">
                    <div class="col text-lightblue row-column">
                      <span class="text-uppercase">
                        <span class="bubble bg-warning" *ngIf="!transaction.transactionConfirmedInBlock"></span>
                        <span class="bubble bg-success" *ngIf="transaction.transactionConfirmedInBlock"></span>
                        {{ transaction.transactionType }}
                      </span>
                    </div>
                    <div class="col text-white row-column text-right" *ngIf="transaction.transactionType == 'sent'">
                      <span>
                        - {{ transaction.transactionAmount + transaction.transactionFee | coinNotation }} {{ coinUnit }}
                      </span>
                    </div>
                    <div class="col text-white row-column text-right" *ngIf="transaction.transactionType == 'received'">
                      <span>
                        + {{ transaction.transactionAmount + transaction.transactionFee | coinNotation }} {{ coinUnit }}
                      </span>
                    </div>
                    <div class="col text-white row-column text-right" *ngIf="transaction.transactionType == 'staked'">
                      <span>
                        + {{ transaction.transactionAmount + transaction.transactionFee | coinNotation }} {{ coinUnit }}
                      </span>
                    </div>
                    <div class="col text-white row-column text-center">
                      <span>
                        {{ transaction.transactionTimestamp * 1000 | date:'medium' }}
                      </span>
                    </div>
                    <div class="col amsgrijs row-column text-right">
                      <span>
                        <a class="link" (click)="openTransactionDetailDialog(transaction)">
                          <i class="icon lnr lnr-arrow-right-circle"></i>
                        </a>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
	

	  
      <div class="row mb-2 mt-1" *ngIf="!transactions">
        <div class="col-12">
          <div class="card">
	  		<div class="card_totop">
            <div class="card-body">	
              <div class="row">
                <div class="col-12">
				<h2 class="text-uppercase amsrood">Transaction History</h2>
                </div>
              </div>			
              <div class="row">
                <div class="col-12">
                  <i><h4>Looks like you haven't made any transactions yet.</h4></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
	  </div>
    </div>
  </section>
</section>
